
body {
    display: flex;
    justify-content: center;
}
.main-container{
    font-family: 'Raleway', sans-serif;
    color: black;
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}
header{
    margin: 30px 0px;
}
main{
    margin-top: 35px;
}

.invisible{
    font-size: 19px;
    display: none;
}

a {
    font-size: 16px;
    text-decoration: none;
    color: black;
}
a:hover {
    color: #0065fc;
}
h2 {
    font-size: 22px;
    font-weight: 700;
}
h3 {
    font-size: 18px;
    font-weight: 700;
}
h4 {
    font-size: 16px;
    font-weight: 700;
}
p {
    font-size: 16px;
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0%;
}
.fa-solid {
    color: #0065FC;
}
.neutral-star {
    color: #F2F2F2;
}
/*Règles nav*/
nav.Bandeau-navigation {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#logo_titre {
    display: flex;
    align-items: center;
}
#liens_nav {
    display: flex;
    gap: 8px;
}
#liens_nav a{
    padding-top: 14px;
    border-top: 2px solid transparent;
}
#liens_nav a:hover {
    border-top: 2px solid #0065fc;
    cursor: url("./images/Icon&Logo/curseur.png"), auto;
}

/*Règle FORMULAIRE*/
.search-title{
    font-size: 22px;
    font-weight: 700;
    margin-top: 35px;
}
.champ-recherche {
    display: flex;
    align-items: center;
    margin-top: 35px;
}
.champ-recherche form {
    display:flex;
    color: black;
}
#fond_search_logo{
    background-color:#F2F2F2;
    height:49px;
    width:50px;
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius:15px 0px 0px 15px;
}
#search_logo{
    height: 18px;
    width: 14px;
}
#ville {
    height: 49px;
    border: 1px solid #F2F2F2;
    padding: 0 16px;
    color: black;
    font-size: 18px;
    font-weight: 700;
    outline: none; /*cmd permettant de supprimer l'encadrement par défaut lors de la seletion du champ*/
}
#ville::placeholder {
    color:black;
    opacity: 1;
}
.champ-recherche button {
    height: 49px;
    gap:10px;
    background-color: #0065fc;
    color: white;
    font-size: 18px;
    border-radius: 0px 15px 15px 0px;
    font-size: 18px;
    font-weight: 700;
    padding: 0px 15px;
    border: none;
}

/*Règle FILTRES*/
.filtres {
    display: flex;
    align-items: center;
    width: 100%;
    gap:15px;
    margin-top: 35px;
    box-sizing: border-box;
}

.button-filter {
    display: flex;
    gap: 15px;
}
.button-filter button {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    font-size: 17px;
    border: solid 2px #d9d9d9;
    padding: 10px 20px 10px 20px;
    background-color: white;
}
.button-filter button:hover {
    background-color: #deebff;
    cursor: url("./images/Icon&Logo/curseur.png"), auto;
}
.icon {
    height: 22px;
    width: 22px;
}
.popup-info {
    margin-bottom: 35px;
}

/*Règles SECTION HEBERGEMENT + POPULAIRE*/
.hebergement, .populaire{
    background-color:#F2F2F2 ;
    border-radius: 20px 20px 20px 20px;
    padding: 30px;
    box-sizing: border-box;
}
.hebergement{
    width: 65%;
}
.populaire {
    width: 32%;
}
#hebergements-et-populaire{
    display: flex;
    justify-content: space-between;
       margin-bottom: 35px;
}

/*Partie Gérant les cartes Hébergements*/
.cardsH {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 30px;
    grid-auto-rows: minmax(100px, auto);
    margin: 30px;
    align-items: start;
}
.cardH {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    align-items: stretch;
    display: flex;
    flex-direction: column;
}
.txt-H {
    margin-left: 15px ;
    margin-right: 15px;
    box-sizing: border-box;
}
.txt-H h4{
    margin-top: 8px;
    margin-bottom: 0px;
}
.txt-H p {
    margin-top: 8px;
    margin-bottom: 8px;    
}
.supplement_section_hebergement {
    font-size: 18px;
    font-weight: 700;
}
.cardH img {
    width: 100%;
    height: 50%;
    aspect-ratio: 4/2;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
/*Partie Gérant les cartes Populaires*/
.populaire {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.populaire a {
    display: block;
}
.titre_section_populaire {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#icon-popu {
    width: 18px;
    height: 15.75px;
}
.cardsP {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap:30px;
    
}
.cardP img {
    width: 33%;
    height: 136px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
}
.cardP {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    display: flex;
    height: 146px;
    align-items: center;
}
.cardP-txt {
    width: 67%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 15px;
    box-sizing: border-box;
}
.card-rating {
    margin-bottom: 5px;
}
.card-txt h4 {
    margin-top: 10px;
    margin-bottom: 4px;
}
.cardP-txt p {
    margin: 0;
}

/*Partie Gérant les cartes Activités*/
#Activites {
    margin: 30px;
}
.ensemble_card_acti{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}
.cardA img {
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px ;
}
.cardA {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.cardA h4 {
    padding: 20px 19px;
    margin: 0;
}

/*Partie gérant le footer*/

footer{
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    margin: 20px 0px 0px 0px;
    justify-content: space-between;
    padding: 0px 35px;
}

.blockfooter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.blockfooter ul li {
    padding-bottom:15px ;
}

/*PARTIE RESPONSIVE*/

/*Tablette >=768px et <1024px*/
@media (min-width: 768px) and (max-width: 1024px) {
    #hebergements-et-populaire{
    display: flex;
    flex-direction: column;
    gap:50px;
}
.populaire {
    width: 100%;
}
.hebergement{
    width: 100%;
}
.cardsP {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.filtres {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
}
/*Mobile <768px et >320px */
@media (min-width: 320px) and (max-width: 768px) {
    #hebergements-et-populaire {
        flex-direction: column;
    }
    .populaire {
        order:0;
        width:100%;
        border-radius: 0px;
    }
    .hebergement {
        order:1;
        width: 100%;
        background-color: white;
    }
    .cardsH {
    display: grid;
    grid-template-columns:1fr;
    gap: 30px;
    grid-auto-rows: minmax(100px, auto);
    margin: 30px;
    align-items: start;
}
.filtres {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.button-filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.button-filter li {
    width:calc(50% - 7.5px);
}
.button-filter button {
    width: 100%;
    height: 100%;
    justify-content: center;
    box-sizing: border-box;
}
.ensemble_card_acti{
    display:flex;
    flex-direction: column;
}
.cardA img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px ;
}
}